# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.pyc
*.app

#ignore ~ files
*~
*.gif
*.kate-swp
*.swp
CMakeFiles/*
CMakeCache.txt
cmake_install.cmake
stats/*

*/obj/*

build/*
!build/Makefile
!build/*.make

*.zip
*.tbz2
*.tgz
*.tar

media/music/*
media/video/*

examples/c_ex1
examples/c_ex2
examples/c_ex3
examples/ex1
examples/ex2
examples/ex3

demos/cubemap
demos/grass
demos/shadertoy
demos/sphereworld
demos/swrenderer
demos/texturing
demos/gears
demos/modelviewer
demos/pointsprites
demos/assimp_convert

testing/blend_test
testing/clipping
testing/edge_test
testing/line_perf
testing/line_test
testing/point_perf
testing/test_primitives
testing/zbuf_learn
testing/stencil_test


