# Object files etc.
*.o
*.ilk
*.pdb
*.obj
*.d

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.pyc
*.app


#ignore ~ files
*~
*.kate-swp
*.swp
*.vim
CMakeFiles/*
CMakeCache.txt
cmake_install.cmake
stats/*
scratch/*
references/*
tags

demos/imgui/imgui.ini
demos/imgui/example_sdl_sdlrenderer

*/obj/*

build/*
!build/Makefile
!build/*.make

*.zip
*.tbz2
*.tgz
*.tar

media/music/*
media/video/*

src/portablegl.h

examples/original/c_ex1
examples/original/c_ex2
examples/original/c_ex3
examples/original/ex1
examples/original/ex2
examples/original/ex3
examples/original/std_shader_ex1
examples/original/std_shader_ex2
examples/classic/gears
examples/webgl_lessons/lesson1
examples/webgl_lessons/lesson2
examples/webgl_lessons/lesson3
examples/webgl_lessons/lesson4
examples/webgl_lessons/lesson5
examples/webgl_lessons/lesson6
examples/webgl_lessons/lesson7
examples/webgl_lessons/lesson8
examples/webgl_lessons/lesson9
examples/webgl_lessons/lesson10
examples/webgl_lessons/lesson11
examples/webgl_lessons/lesson12
examples/webgl_lessons/lesson13
examples/webgl_lessons/lesson14
examples/webgl_lessons/lesson15
examples/webgl_lessons/lesson16


backends/x11_xlib/xlib_demo
backends/x11_xlib/xlib_demo2

demos/cubemap
demos/grass
demos/shadertoy
demos/sphereworld
demos/sphereworld_color
demos/glm_sphereworld_color
demos/swrenderer
demos/texturing
demos/texturing_ext
demos/modelviewer
demos/multidraw
demos/testprimitives
demos/pointsprites
demos/particles
demos/raytracing_1weekend
demos/sdl_renderer_imgui
demos/pgl_imgui
demos/pgl_geometry_imgui
demos/imgui.ini
demos/assimp_convert

demos/polyline
demos/polyline.make
demos/polyline.cpp

testing/run_tests
testing/run_tests_d16
testing/run_tests_rgb565
testing/run_tests_d16_no_stencil
testing/run_tests_clamp_border
testing/perf_tests
testing/math_testing
testing/skybox_clipping
testing/line_testing
testing/minimal_pgl

testing/test_output/*
!testing/test_output/emptyfile

